* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(247,239,210);
    display:grid;
    min-height: 100vh;
    grid-template-rows:100px 1fr 75px;
    grid-template-columns: 350px 1fr 350px;
    grid-template-areas:'topo topo topo' 
                        'barra conteudo conteudo'
                        'rodape rodape rodape'; 
}

header{
    grid-area: topo;

    background-color: rgb(254,212,196);
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.div-header{
    display: inline-block;

}

.div-titulo{
    display: inline-block;

}

nav{
    grid-area: barra;    
    border-right: solid 3px rgb(254,212,196);

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-area: conteudo;
    background-color: rgb(247,239,210);
}

footer{
    grid-area: rodape;
    background-color: rgb(254,212,196);
}

.manrope-titulo {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 34px;
    font-style: normal;
}

.manrope-nav {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size:20px;
    font-style: normal;
}

.estilo-titulo{
    color: rgb(247,239,210);
}

.nav-fonte{
    color:rgb(156, 149, 48);
    margin-top: 80px;
}

.nav-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

i{
    color: rgb(247,239,210);
    font-size: 29px;
    margin: 8px;
    margin-right: 50px;
    top: 6%;
    transform: translateY(-6%);
    cursor: pointer;
}

i:hover{
    font-size: 30.5px;
}

.menu-icon div{
    width: 32px;
    height: 2px;
    background: rgb(247,239,210);
    margin: 8px;
    margin-left: 50px;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.mobile-menu .nav-list{
    display: none;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mobile-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .open{
        display: block;
    }

    .mobile-menu .nav-list.open {
    display: block; /* Torna visível quando a classe 'open' é adicionada */
}
}