* {
    margin: 0px;
    padding: 0px;
}

body{

    display:grid;
    min-height: 100vh;
    grid-template-rows:100px 1fr 100px;
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas:'topo topo topo' 
                        'barra conteudo conteudo'
                        'rodape rodape rodape'; 
}

header{
    grid-area: topo;

    background-color: rgb(255, 255, 205);
    border-bottom: solid 2px black;

}

.div-header{
    width: 20%;
    display: inline-block;
    text-align: center;
}

.div-titulo{
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

nav{
    grid-area: barra;
    background-color: rgb(255, 255, 205);
    border-right: 2px black dashed;
}

main{
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
    background-image: linear-gradient(rgb(255, 255, 205), rgb(255, 255, 175));
    border-top: solid 2px black;
}

.img-icon{
    border-radius: 50%;
    border: 2px solid black;
    height: 85px;
    width: 85px;
    margin-bottom: 12px;
}

.titulo{
    color: white;
    font-family: Playfair Display;
    text-shadow: 2px 2px 5px black;
}

.div-container{
    background-color: rgb(255, 255, 212);
    border-radius: 10px;
    border: 2px solid rgb(255, 244, 160);
    box-shadow: 5px 5px 5px rgb(255, 255, 205);
    width: 75%;
    height: 23%;
    margin: auto;
    margin-top: 10px;
}

.texto{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    justify-content: center;
}