$cor0:#9e182b;
$cor1: #684627;
$cor2: #7a6c4f;
$cor3: #ccd0cf;
$cor4:#c48181;
$cor5: #d77764;


*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 350px 1fr;
    grid-template-areas:'catalogo main'; 

    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

aside{
    grid-area: catalogo;
    height: 100vh;

    background-color: #fdfaee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid black;
}

main {
    grid-area: main;

    background-color: white;
}

.mini-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizador{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    width: 50px;
    height: 50px;

    margin: 5px;
}

.box:hover{
    opacity: 0.8;
    cursor: pointer;
}

.box0{
    background-color: $cor0;

    @extend .box;
}

.box1{
    background-color: $cor1;
    @extend .box;
}

.box2{
    background-color: $cor2;
    @extend .box;
}

.box3{
    background-color: $cor3;
    @extend .box;
}

.box4{
    background-color: $cor4;
    @extend .box;
}

.box5{
    background-color: $cor5;
    @extend .box;
}

.box-result{
    width: 140px;
    height: 140px;
    border: 3px solid black;
    display: inline-block;
    text-align:center;
    font-size: 2em;
    margin: 5px;
    

    background-color: $cor0;
}

.container{

}